node_modules
npm-debug.log
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.prettierignore
README.md
.tool-versions
docker-compose-sfcc.yml
docker-compose-magento.yml
docker-compose.yml
Dockerfile
Makefile