.fast-wrapper {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
}

.fast-or-message {
    position: relative;
    top: 5rem;
    background: white;
    width: 2.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #757575;
}

.fast-checkout {
    pointer-events: none;
	opacity: 0.5;
}

.fast-checkout-enabled {
    pointer-events: all;
}